<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Tracklet, <%= @user.name %></h1>
    <p>
      This is the only email we'll send you.<br>
    </p>
  </body>
</html>
