<h1>Notifications</h1>
<h2>Pending friend requests</h2>
<% @pending_friendship_objects.each do |object| %>
  <div>
    Friend request from <%= User.find(id=object.user_id).email %>
    <form method="patch" action="<%= friendship_url(object) %>">
      <input type="Submit" value="Accept">
    </form>
    <form method="delete" action="<%= friendship_url(object) %>">
      <input type="Submit" value="Decline">
    </form>
  </div>
<% end %>
