<div class="w-1/3 self-center">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Hello, world</p>
</div>
<turbo-frame id="new-post-form" src="/posts/new"></turbo-frame>
<turbo-frame id="post-listing" src="/posts" class="flex flex-col"></turbo-frame>